ul li{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 3px;
    /* color: #32d9ec; */
    font-size: 13px;
  }
  ul li.selected{
    background: #87eacb;
    border-radius: 5px; 
    color: white;
  }
  